@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
}
:root{
    --color--one:#451c91;
    --color-two:#1a0147;
    --color-white: #FFF;
    --card-color:#451c91c0;
}
body {
    background: linear-gradient(to right, var(--color--one), var(--color-two));
    font-family: 'Roboto', sans-serif;
    color: var(--color-white);
}
.links{
  background: var(--color-white);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
.links a{
    color: var(--color--one);
    text-decoration: none;
    font-size: 24px;
    
}
.links a + a{
    margin-left: 32px;
}
.links a span{
    display: inline-block;
    transition: 0.5s;
    position: relative;
    cursor: pointer;
}
.links a span::after{
    content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;
}

.links a:hover span{
    padding-right: 25px;
}
.links a:hover span::after{
    opacity: 1;
    right: 0;
}

/* === CARD ===  */

.card{
    width: 800px;
    min-height: 400px;
    background-color:var(--color-white);
    margin: 0 auto;
    margin-top: 24px;
    color:var(--color-two);
    display: grid;
    grid-template-columns: 40% 60%;

    box-shadow: 4px 0 16px 8px rgba(0, 0, 0, 0.7);
    
    animation: issue 700ms ease-in-out;
}

@keyframes issue{
    from{
        opacity: 0;
        transform: translateX(20%)
        
    }
    to{
        opacity: 1;
    }
}
.details{
    padding: 24px;
}

.details .item{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 16px;
}
.details h3,
.details .item div:first-child{
    color:#777;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.8px;
    line-height: 28px;
}
.details .item div:nth-child(2){
    color:var(--card-color);
    font-size: 18px;
}
.details h3{
    text-transform: uppercase;
    font-size: 24px;
    color: var(--card-color);
    padding-left: 10px;
}

.details .item span{
    background-color: #2dd63b; 
    text-transform: uppercase;
    margin-right: 10px;
}
.details .item label{
    background-color:#1cd2eb;
    letter-spacing: 0.5px;
}

.details .item span,
.details .item label{
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
    color: var(--color-white);
    box-shadow: 3px 2px 5px var(--color-two);
}
/* == FORM ===  */
.item select,
.item input{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    color: var(--color-two);
}

.item select{
    text-transform: uppercase;
}

.item input[type="radio"]{
    width: initial;
    margin-right: 4px;
    cursor: pointer;
}
a.button,
.details button[type="submit"]{
    width: 100%;
    padding: 8px 28px;
    background-color: var(--color--one);
    font-weight: bold;
    color: white;
    border-radius: 8px;
    margin-top: 12px;
    box-shadow: 10px 3px 4px rgba(50, 79, 243, 0.589);

}
a.button:hover,
.details button[type="submit"]:hover{
    box-shadow: 1px 3px 4px rgba(50, 79, 243, 0.589);
    transition: 0.3s;
}

a.button{
    display: block;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
}

button[type="submit"].submit_button{
    width: 49%;
    float: left;
}
#form_delete button[type="submit"]{
    background-color: red;
    float:right;
}
