 <div class="item">
                <div>Professor:</div>
                <input 
                type="url"
                name="avatar_url"
                placeholder="https://"
                value="{{teacher.avatar_url}}"
                 >
            </div>
            <div class="item">
                <div>Nome:</div>
                <input 
                type="text" 
                name="name" 
                placeholder="Nome do Professor"
                value="{{teacher.name}}"
                >
            </div>
            <div class="item">
                <div>Data de nascimento:</div>
                <input 
                type="date" 
                name="birth"
                value="{{teacher.birth}}"
                >
            </div>
            <div class="item">
                <div>Grau de Escolaridade</div>
                <select name="graduation">
                    <option 
                        value="medio" 
                        {% if teacher.graduation == "medio" %}
                        selected
                        {% endif %}
                    >Ensino Médio Completo
                    </option>
                    <option 
                        value="superior"
                        {% if teacher.graduation == "superior" %}
                        selected
                        {% endif %}
                    >Ensino Superior Completo
                    </option>
                    <option 
                        value="mestrado"
                        {% if teacher.graduation == "mestrado" %}
                        selected
                        {% endif %}
                    >Mestrado
                    </option>
                    <option 
                        value="doutorado"
                        {% if teacher.graduation == "doutorado" %}
                        selected
                        {% endif %}
                    >Doutorado
                    </option>
                </select>
            </div>
            <div class="item">
                <div>Tipo de aula:</div>
                <span>
                    <input 
                    type="radio"
                    name="typeClass" 
                    value="presencial"
                    {% if teacher.typeClass == "presencial"%}
                    checked
                    {% endif %}
                     >PRESENCIAL
                </span>
                <span>
                    <input 
                    type="radio" 
                    name="typeClass" 
                    value="distancia"
                    {% if teacher.typeClass == "distancia" %}
                    checked
                    {% endif %}
                    >A DISTÂNCIA
                </span>
                
            </div>
            <div class="item">
                <div>Acompanhamento:</div>
                <input 
                type="text"
                name="services"
                placeholder="Materias lecionadas"
                value="{{teacher.services}}"
                >
            </div>
           <button  class="submit_button" type="submit">Salvar</button>