{% extends "layout.njk" %}

{% block content %}

    <div class="card table-container">
        <a href="teachers/create" class="button create">Criar</a>
        <table>
            <thead>
                <tr>
                    <th>Nome Completo</th>
                    <th>Acompanhamento</th>
                    <th style="text-align: center;">Total de alunos</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                    {% for teacher in teachers %}
                    <tr>
                        <td>
                            <span style="background-image:url({{teacher.avatar_url}})"></span>
                            {{teacher.name}}
                        </td>
                        <td>
                            {% for subjects_taught in teacher.subjects_taught %}
                                <span>{{subjects_taught}}</span>
                            {% endfor %}
                            
                            </td>
                            <td style="text-align: center;">
                                {{teacher.total_students}}
                            </td>
                        <td>
                            <a href="teachers/{{teacher.id}}">ver</a>
                        </td>
                        
                    </tr>
                    {% endfor %}
                
            </tbody>
        </table>
    </div>
{% endblock content %}