<script>
    const formDelete = document.getElementById('form_delete');
    formDelete.addEventListener('submit', function()
    {
    const confirmation = confirm('Deseja deletar?');
    if(!confirmation){
        event.preventDefault();
    }
    })
</script>