<!DOCTYPE html>
<html >
    <head>
        {% block head %}
            <title>Desafio 4</title>
        {% endblock head %}
        <link rel="icon" href="https://img.icons8.com/color/48/000000/code.png" type="image/x-icon">
        <link rel="stylesheet"type="text/css" href="/styles.css">
    </head>
    <body>
        <div class="links">
            <a href="/"><span>Teachers</span></a>
            <a href="/students"><span>Students</span></a>
        </div>

        {% block content %}
        {% endblock content %}

        <script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3001/browser-sync/browser-sync-client.js?v=2.26.7'><\/script>".replace("HOST", location.hostname));
//]]></script>
    </body>
</html>