{% extends "layout.njk" %}
{% block head %}
<title>About - desafio 3.1</title>
{% endblock head %}

{% block content %}

<header>
    <div class="wrapper">
        <img class="img-about" src="https://cdn-images-1.medium.com/max/1200/1*TkXVfLTwsHdwpUEjGzdi9w.jpeg" alt="Rocketseat">
        <h1 class="title-about">{{data.title}}</h1>
        <p class="text bold">{{data.descriptionOne}}</p>
        <p>{{data.descriptionTwo}}</p>
        <ul class="techs">
            <h4>{{data.titleTechs}}</h4>
            {% for tech in data.techs %}
                <li>{{tech}}</li>
            {% endfor %}
            
        </ul>
        <div id="social-media">
            {% for social in data.social %}
            <a href="{{social.link}}" alt="{{social.name}}">{{social.name}}</a>
             {% endfor %}
        </div>

    </div>
</header>

{% endblock content %}