{% extends 'layout.njk' %}
{% block head %}
    <title>Curso - {{courses.id}}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles.css">
{% endblock head %}

{% block content %}

<div class="course_view">
    <iframe src="https://rocketseat.com.br/{{courses.id}}" frameborder="0"></iframe>
</div>
{% endblock content %}