{% extends 'layout.njk' %}
{% block head %}
    <title>Contents - desafio 3.1</title>
{% endblock head %}

{% block content %}

    <header>

        <div class="wrapper">
            <h1 class="title-content">Conteúdos</h1>

            <section class="cards">
                {% for card in data.cards %}
                <div class="card" id="{{card.id}}">
                    <div class="card-image">
                        <img src="{{card.urlImg}}" alt="{{card.id}}">
                    </div>
                    <div class="card-info">
                        <p class="card-price">{{card.price}}</p>
                        <p>{{card.module}}</p>
                    </div>
                </div>
                {% endfor %}
                </section>
    </div>

</header>


<script src="scripts.js"></script>

{% endblock content %}